body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: seashell;
}

.calculator {
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: gray ;
    width: 130px;
    height: 150px;
}

.display {
    background-color: snow;
    padding: 10px;
    text-align: left;
}

.display input {
    width: 100%;
    border: none;
    font-size: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 10px solid black;
    outline: none;
    cursor: pointer;
    padding: 50px;
    font-size: 50px;
    background-color: grey;
    transition: background-color 0.3s ease;
    align-items: center;
}

button:hover {
    background-color: black;
}